<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
    <!--[if lt IE 9]>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
    <script src="https://cdn.jsdelivr.net/lodash/4.16.6/lodash.min.js"></script>
    <script type="text/template" id="myTemplate">
		<div class="row">
				<div id ="remove"><h2>Drag to remove</h2></div>
				<div class="input-group">
				  <input type="text" class="form-control" placeholder="I want to do ...">
				  <span class="input-group-btn">
					<button class="btn btn-default" onclick = todo.add(this.parentNode.previousElementSibling.value) type="button">Add deed</button>
				  </span>
				</div><!-- /input-group -->
			<div class="list-group">
			   <% this.todos.forEach(function(title) { %>
			  <button type="button" class="list-group-item"><h4 class = "item-title"><%-title.title%></h4>
			  <input type="checkbox" aria-label="..." class="isDone"></button>
			  <% }); %>
			</div>
		</div>	 
	</script>
   <script src = 'js/todo.js'></script>
   <script src="js/dragger.js"></script>
   <script>
			let todo = new Todo({
				template:_.template(document.querySelector('#myTemplate').innerHTML)
			})
			todo._getFromLocalStorage()
			todo.render()
			
			document.onclick = function(e){
				let target = e.target;
				let doneList = document.querySelectorAll('.isDone');
				for(let i=0;i<doneList.length;i++){
					if(doneList[i]==target){
						todo.isDone(i,target.checked)
					}
				}
			}
			window.onunload = function(){
				todo._setToLocalStorage()
			}
	
			
				
				
		
	</script>
</body>
</html>